body {
    font-size: 18px;
    line-height: 2.25rem;
    font-family: Arial;
}

h1 {
    font-size: 3rem;
    text-shadow: 4px 4px 4px rgb(206, 85, 48);
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

#copyright {
    text-align: right;
}

#blockbuster-films h2 {
    color: rgb(117, 77,7);
}

#early-indie-films h2 {
    color: rgb(255, 252, 82);
}

#later-indie-films h2 {
    color: rgb(252, 0, 0);
}

#notable-works h2 {
    color: rgb(150, 0, 138);
}

#notable-works ul li {
    font-size: 1.25rem;
}

#once-upon-a-time-in-hollywood h2 {
    color: rgb(255, 162, 0);
}

.centered-movie-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.brown:hover, .brown:focus {
    color: rgb(117, 77, 7);
}

.orange:hover, orange:focus {
    color: rgb(255, 162, 0);
}

.red:hover, red:focus {
    color: rgb(252, 0, 0);
}


.yellow:hover, yellow:focus {
    color: rgb(255, 252, 82);
}