body {
    font-size: 18px;
    line-height: 2.25rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    font-family: Arial;
}

table {
    border: .5rem solid rgb(83, 59, 8);
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    background-color: rgb(206, 0, 0)
}

tbody:nth-child(1n+1) {
    background-color: rgb(208, 255, 0);
}

thead, tfoot {
    background-color: rgb(206, 0, 0);
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

th, td { 
    border: 1.5rem rgb(205, 255, 24);
    padding: .5rem .75rem;
    text-align: center;
}

.shadow {
    font-size: 4rem;
    text-shadow: 4px 4px 4px rgb(206, 85, 48);
}

h1 {
    text-align: center;
    font-size: 4rem;
}

p {
    text-indent: 1.25rem;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

#copyright {
    text-align: right;
}

#blockbuster-films h1 {
    color: rgb(117, 77,7);
    font-size: 4rem;
}

#early-indie-films h1 {
    color: rgb(255, 252, 82);
    font-size: 4rem;
}

#later-indie-films h1 {
    color: rgb(252, 0, 0);
    font-size: 4rem;
}

#notable-works h2 {
    color: rgb(150, 0, 138);
}

#notable-works ul li {
    font-size: 1.25rem;
}

#once-upon-a-time-in-hollywood h1 {
    color: rgb(255, 162, 0);
    font-size: 4rem;
}

.centered-movie-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a.brown:visited, a.orange:visited, a.red:visited, a.yellow:visited, a.white:visited {
    color: rgb(150, 0, 138);
}

a.brown:link, a.orange:link, a.red:link, a.yellow:link, a.white:link {
    color: rgb(47, 0, 255);
}

a.brown:hover, a.brown:focus, .brown:hover, .brown:focus {
    color: rgb(117, 77, 7);
}

a.orange:hover, a.orange:focus, .orange:hover, .orange:focus {
    color: rgb(255, 162, 0);
}

a.red:hover, a.red:focus, .red:hover, .red:focus {
    color: rgb(252, 0, 0);
}

a.yellow:hover, a.yellow:focus, .yellow:hover, .yellow:focus {
    color: rgb(255, 252, 82);
}

a.white:hover, a.white:focus, .white:hover, .white:focus {
    color: rgb(251, 255, 252);
}

a.brown:active, a.orange:active, a.red:active, a.yellow:active, a.white:active {
    color: rgb(18, 90, 8);
}    
   
#nav-list {
    text-align: center;
}

#nav-list ul {
    list-style-type: none;
    display: inline-block;
}

#nav-list ul li {float: left;}

#nav-list ul li a{
    text-align: center;
    width: 170px;
    padding: 1em;
    text-decoration: none;
    background-color: rgb(0, 195, 255);
    border-right: 2px white;
}

#contact {
    text-align: center;
}